.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.align-items-center { align-items: center; }

textarea, input {
    border: none;
    outline: none;
    padding: 0;
    height: auto;
}

textarea:focus, input:focus {
    outline: none;
}

.handout-input {
    width: 80%;
}
.handout-input input {
    width: 100%;
}

.handout-image {
    max-width: 80%;
    text-align: center;
}

.handout-textarea {
    width: 80%;
}

.handout-textarea textarea {
    width: 100%;
}